{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}
	<div class="container-xxl">
		<h1>Toutes les catégories</h1>

		<div class="row row-cols-6 g-2">
			{% for childCat in childCategories %}
				<div class="p-3 border">
					<a href="{{path('app_category_show', {'url': childCat.url})}}">{{childCat.name}}</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
