{% extends 'base.html.twig' %}

{% block title %}Passer une commande
{% endblock %}

{% block body %}
	<div class="container-xxl d-flex h-100 justify-content-center align-items-center">
		<div
			class="col-md-6 p-2 p-md-4 border border-primary rounded-4 bg-light">

			{# heading #}
			<h1 class="mb-3 fw-normal">Passer une commande</h1>

			{# Order form #}
			{% include "order/_form.html.twig" %}

			{# new address form #}
			{% include "address/_small_form.html.twig" %}

		</div>
	</div>
{% endblock %}
