{% extends 'base.html.twig' %}

{% block title %}
	VillageGreen - Votre compte
{% endblock %}

{% block body %}
	<div
		class="container-xxl">

		{# Breadcumbs #}
		<nav class='d-none d-md-block' aria-label="breadcrumb">
			<ol class="breadcrumb my-2">
				<li class="breadcrumb-item">
					<a class='p-2' href="{{path('app_home')}}">
						<span class="material-symbols-outlined">
							home
						</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current='page'>Votre compte</li>
			</ol>
		</nav>

		<h1 class='my-2 fw-normal'>Votre compte</h1>

		<div class='row row-cols-2 row-cols-sm-3 row-cols-md-5 g-2 mt-md-3'>
			<div class="col">
				<div class="card position-relative border border-primary rounded-4 overflow-hidden bg-light h-100">
					<img class='object-fit-cover img-fluid rounded-4' src="https://images.unsplash.com/photo-1520523839897-bd0b52f945a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="...">
					<div class="card-body p-3 d-flex align-items-center text-center">
						<h6 class="card-title text-primary m-0 w-100">Vos commandes</h6>
						<a href="{{path('app_order')}}" class="stretched-link"></a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card position-relative border border-primary rounded-4 overflow-hidden bg-light h-100">
					<img class='object-fit-cover img-fluid rounded-4' src="https://images.unsplash.com/photo-1520523839897-bd0b52f945a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="...">
					<div class="card-body p-3 d-flex align-items-center text-center">
						<h6 class="card-title text-primary m-0 w-100">Vos information personnelles</h6>
						<a href="{{path('app_user_info')}}" class="stretched-link"></a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card position-relative border border-primary rounded-4 overflow-hidden bg-light h-100">
					<img class='object-fit-cover img-fluid rounded-4' src="https://images.unsplash.com/photo-1520523839897-bd0b52f945a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="...">
					<div class="card-body p-3 d-flex align-items-center text-center">
						<h6 class="card-title text-primary m-0 w-100">Se déconnecter</h6>
						<a href="{{path('app_logout')}}" class="stretched-link"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
