<form method="post" action="{{ path('app_address_delete', {'id': address.id}) }}">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
	<button class="btn btn-outline-danger border-0 rounded-pill py-2 px-3">Supprimer</button>
</form>
